---
layout: default
permalink: portfolio
title: Portfolio
---

<section>
  <h1>Portfolio</h1>

  <p>
    A collection of my journalistic <a href="#writing">writing</a>, <a href="#projects">past projects</a>, and <a href="#videos">videos</a>
  </p>
</section>

<section>
  <h2 id="writing">Clips</h2>

  {% for post in site.posts %}
  <div class="media t-hackcss-media">

    <div class="media-body">
      <div class="media-heading">
        {% if post.external_url %}
        <a href="{{ post.external_url }}" target="_blank" title="{{ project.name }}">
          {{ post.title }}
        </a>
        {% else %}
        <a href="{{ post.url | prepend: site.baseurl }}" title="{{ project.name }}">
          {{ post.title }}
        </a>
        {% endif %}
      </div>
      <div class="media-content">
        <em>{{ post.short_description }}</em>, {{ post.date | date_to_string }}<br>
        *{{ post.accolade }}
      </div>
    </div>
  </div>
  {% endfor %}
</section>

<section>
 <h2 id="projects">Past Projects</h2>

 <div class="grid t-hackcss-cards">

  {% for project in site.projects %}

  <div class="cell -6of12 t-hackcss-cards-cell">
    <div class="card">
      <header class="card-header">{{ project.name }}</header>
      <div class="card-content">
        <div class="inner">

          {% if project.image %}
          <img src="{{ project.image }}" class="t-hackcss-cards-image"
          alt="{{ project.name }}"
          title="{{ project.name }}" />
          {% endif %}

          <p class="t-hackcss-cards-text">{{ project.description }}</p>
          {% if project.tech %}
          <p class="t-hackcss-cards-text">[{{ project.tech }}]</p>
          {% endif %}
          <p class="t-hackcss-cards-link">
             {% if project.link %}
            <a href="{{ project.link }}" title="{{ project.name }}" target="_blank">{{ project.name }}</a>
           {% endif %}
           {% if project.inlink %}
           <a href="{{ project.inlink }}" title="{{ project.name }}">{{ project.name }}</a>
           {% endif %}
           {% if project.github %}
           | <a href="{{ project.github }}" title="Code" target="_blank">
             Code
           </a>
           {% endif %}
         </p>
       </div>
     </div>
   </div>
 </div>

 {% endfor %}

</div>

</section>

<section>
 <h2 id="videos">Video</h2>
  <div class="grid t-hackcss-cards">

  <div class="cell -6of12 t-hackcss-cards-cell">
    <div class="card">
      <header class="card-header">Photojournalism in the age of smartphones - AFP Pedro Ugarte</header>
      <div class="card-content">
        <div class="inner">
          <img src="http://i3.ytimg.com/vi/HexekAo3pNQ/hqdefault.jpg" class="t-hackcss-cards-image"
          alt="Photojournalism in the age of smartphones - AFP Pedro Ugarte"
          title="Photojournalism in the age of smartphones - AFP Pedro Ugarte" />

          <p class="t-hackcss-cards-text">Video interview with AFP Photo Director (APAC).</p>
          <p class="t-hackcss-cards-text">[Edited with Premiere]</p>
          <p class="t-hackcss-cards-link">
            <a href="https://www.youtube.com/watch?v=HexekAo3pNQ" title="Photojournalism in the age of smartphones - AFP Pedro Ugarte" target="_blank">
             Photojournalism in the age of smartphones - AFP Pedro Ugarte
           </a>
         </p>
       </div>
     </div>
   </div>
 </div>
   <div class="cell -6of12 t-hackcss-cards-cell">
    <div class="card">
      <header class="card-header">Siu Fung</header>
      <div class="card-content">
        <div class="inner">
          <img src="http://i3.ytimg.com/vi/MdMy4zuZdok/hqdefault.jpg" class="t-hackcss-cards-image"
          alt="Siu Fung"
          title="Siu Fung" />

          <p class="t-hackcss-cards-text">Documentary group project about a transgender bodybuilder. Won Grand Prize at the TVB Inter-Collegiate Documentary Competition.</p>
          <p class="t-hackcss-cards-text">[Edited with Premiere]</p>
          <p class="t-hackcss-cards-link">
            <a href="https://www.youtube.com/watch?v=MdMy4zuZdok" title="Siu Fung" target="_blank">
             Siu Fung
           </a>
         </p>
       </div>
     </div>
   </div>
 </div>
</section>
